In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
iris = iris.drop(labels = 'species', axis = 1)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
iris['sepal_sum'] = iris ['sepal_length'] + iris['sepal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum
0           5.1          3.5           1.4          0.2        8.6
1           4.9          3.0           1.4          0.2        7.9
2           4.7          3.2           1.3          0.2        7.9
3           4.6          3.1           1.5          0.2        7.7
4           5.0          3.6           1.4          0.2        8.6

In [5]:
iris['petal_sum'] = iris ['petal_length'] + iris['petal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [6]:
iris = iris[['sepal_length', 'sepal_width', 'sepal_sum', 'petal_length', 'petal_width', 'petal_sum']]
iris

,sepal_length,sepal_width,sepal_sum,petal_length,petal_width,petal_sum
0,5.1,3.5,8.6,1.4,0.2,1.6
1,4.9,3.0,7.9,1.4,0.2,1.6
2,4.7,3.2,7.9,1.3,0.2,1.5
3,4.6,3.1,7.7,1.5,0.2,1.7
4,5.0,3.6,8.6,1.4,0.2,1.6
...,...,...,...,...,...,...
145,6.7,3.0,9.7,5.2,2.3,7.5
146,6.3,2.5,8.8,5.0,1.9,6.9
147,6.5,3.0,9.5,5.2,2.0,7.2
148,6.2,3.4,9.6,5.4,2.3,7.7
149,5.9,3.0,8.9,5.1,1.8,6.9

In [7]:
mean = [np.mean(iris['sepal_length']),
        np.mean(iris['sepal_width']),
        np.mean(iris['sepal_sum']),
        np.mean(iris['petal_length']),
        np.mean(iris['petal_width']),
        np.mean(iris['petal_sum'])]

mean= list(iris.mean())

iris.std()
std =list(iris.std())

iris.min()
min =list(iris.min())

iris.max()
max =list(iris.max())

summary_dict = {'mean': mean, 'std': std , 'min' : min , 'max' : max }

summary_df = pd.DataFrame(data = summary_dict)

summary_df

       mean       std  min   max
0  5.843333  0.828066  4.3   7.9
1  3.057333  0.435866  2.0   4.4
2  8.900667  0.889272  6.8  11.7
3  3.758000  1.765298  1.0   6.9
4  1.199333  0.762238  0.1   2.5
5  4.957333  2.507689  1.2   9.2

In [8]:
summary_df.index=['sepal_length', 'sepal_width', 'sepal_sum', 'petal_length', 'petal_width', 'petal_sum']
summary_df

                  mean       std  min   max
sepal_length  5.843333  0.828066  4.3   7.9
sepal_width   3.057333  0.435866  2.0   4.4
sepal_sum     8.900667  0.889272  6.8  11.7
petal_length  3.758000  1.765298  1.0   6.9
petal_width   1.199333  0.762238  0.1   2.5
petal_sum     4.957333  2.507689  1.2   9.2